<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = 'post' th:action="@{/user}">
    <label>
        User Name:
        <input type="text" name="userName"/>
    </label>
    <label>
        Email:
        <input type="email" name="email"/>
    </label>
    <label>
        Password:
        <input type="password" name="password"/>
    </label>
    <label>
        Verify Password:
        <input type ="password" name="verify"/>
    </label>
    <p th:text="${error}"></p>
    <input type="submit" value ="SignUp"/>
</form>
</body>
</html>